
li .recetas {
    font-family: "Lucida Calligraphy";
    font-size: 2rem;
    font-style: italic;
}

.altura_aside {
    height: 600px;
}

.tarjeta {
    height: 400px;
    width: 350px;
}

.color-poulet {
    background-color: #FEDDEA; /*color institucional */
}

.cursiva-poulet {
    font-family: "Lucida Calligraphy";
    font-style: italic;
}

.card-poulet {
    background-color: snow;
    width: 350px;
}

.poulet-header-Carnes {
    background-color: #FEDDEA; /*color institucional */
    color: aliceblue;
    background-image: url(../img/carnes-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-header-Pastas {
    background-color: #FEDDEA; /*color institucional */
    color: aliceblue;
    background-image: url(../img/pastas-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-header-Pescados {
    background-color: #FEDDEA; /*color institucional */
    color: aliceblue;
    background-image: url(../img/pescados-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-header-Pollos {
    background-color: #FEDDEA; /*color institucional */
    color: aliceblue;
    background-image: url(../img/pollos-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-holder {
    height: 6rem;
    overflow: hidden;
}

.poulet-header-Postres {
    background-color: #FEDDEA; /*color institucional */
    color: aliceblue;
    background-image: url(../img/postres-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-header {
    background-color: #FEDDEA; /*color institucional */
    color: white;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poulet-nombre-receta {
    font-size: 1.25rem;
}

.poulet-cross-icon {
    font-size: 3rem;
    color: red;
}

.poulet-iconos-cocinar {
    font-size: 30px;
    color: dimgrey;
}

.poulet-progressBar {
    width: 100%;
}

.poulet-link {
    font-family: sans-serif;
}

.form-control:focus {
    border-color: violet;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);*/
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #F06292;
    border-color: violet;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    border-color: violet;
    box-shadow: inset 0 1px 1px rgba(2, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: violet;
    box-shadow: inset 0 1px 1px rgba(2, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn:focus{
    border-color: violet;
    box-shadow: inset 1px 1px 1px rgba(2, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


.dropdown-item:hover{
    background-color: pink;
    color: white;
}
.poulet-font-125{
    font-size: 125%
}

.nav-link:hover{
    background-color: pink;
    color: white;
}

.nav-link{
    color: #f48fb1;
}

.poulet-card-info{
    width: 300px;

}

.poulet-card-info-body{
    height: 390px;
    overflow-y: auto ;
}

.card-footer{
    background-color: white;
}

/******/
.poulet-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.poulet-scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.poulet-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: lightpink;
}

/******/
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: lightpink;
}

.poulet-card-list{
    width: 500px;
    height: 380px;
    overflow-y: auto;
}

/**** */
.poulet-fab{
    width:60px;
    height:60px;
    background-color:#f48fb1;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:inside;
}
.poulet-fab:hover{
    opacity: 0.50;
    -moz-opacity: .50;
}
.poulet-fab a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
}


/*  background-color: pink;*/
table.table-hover tbody tr:hover {
    color: white;
    background-color: lightpink;
}


